
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: #525d68;
  font-size: 15px;
  line-height:1.5;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #fdfdfd;
  letter-spacing: 1px;color: #525d68;
  width: 100%;
  height: 100%;
  
}


.grad-bar {
  width: 100%;
  height: 3px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  	-webkit-animation: gradbar 15s ease infinite;
	-moz-animation: gradbar 15s ease infinite;
	animation: gradbar 15s ease infinite;
}


header {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.5s ease-in-out;
}
header .btn-open-menu {
  width: 25px;
  height: 18px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
header .btn-open-menu:after {
  background-color: #000;
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.5s ease-in-out;
}
header .btn-open-menu .hamburguer {
  position: relative;
  display: block;
  background: #000;
  width: 100%;
  height: 2px;
  top: 5px;
  left: 0;
  transition: 0.5s ease-in-out;
}
header .btn-open-menu .hamburguer:before, header .btn-open-menu .hamburguer:after {
  background: #000;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}
header .btn-open-menu .hamburguer:before {
  top: -5px;
}
header .btn-open-menu .hamburguer:after {
  bottom: -5px;
}
header .header-content {
  width: 85%;
  height: 100%;
  background-color: #eeeeee;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: -150%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  transition: 0.1s ease-in-out;
}
header .header-content .btn-close-menu {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}
header .header-content .btn-close-menu:before, header .header-content .btn-close-menu:after {
  background: #000;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  transition: 0.5s ease-in-out;
}
header .header-content .btn-close-menu:before {
  transform: rotate(45deg);
  top: 11px;
}
header .header-content .btn-close-menu:after {
  transform: rotate(-45deg);
  bottom: 12px;
}
header .header-content nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
header .header-content nav a {
  color: #000;
  letter-spacing: 0.5px;
  line-height: 35px;
  text-decoration: none;
  transition: 0.5s;
}
header .header-content nav a:hover {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
header .header-content .social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 0;
  font-size: 18px;
}
header .header-content .social a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.5s;
}
header .header-content .social a:hover {
  transform: scale(0.9);
  transition: 0.5s;
}
header.open {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}
header.open .btn-open-menu,
header.open .logo {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
header.open .header-content {
  left: 0;
  transition: 0.7s ease-in-out;
}


/* end navbar */

/* start about me info */
.bannerbg{
  background-image: url(assets/banner.png);
  background-position: center;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  background-repeat: no-repeat;
}


 .abouttext {
  color: #63707e;
  text-align: center;
  background: transparent;
  font-size-adjust: auto;

} 

.aboutmebg {
  background-image: url(assets/bg4.png);
  background-position: center;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  background-attachment: fixed;
  background-repeat: no-repeat;
   min-height: 640px; 
   position: relative;
 
}

.aboutmebg .col-md-4 {
margin-top: 50px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
text-align: center;

}

.aboutmebg .col-md-4 p{
  font: normal normal bold 27px/1.4em poppins-semibold,poppins,sans-serif;
  color: #000000;
  padding-bottom: 10px;
}

.aboutmebg .col-md-4 h5{
  font: normal normal bold 27px/1.4em ;
  color: #000000;
  padding-bottom: 20px;
  letter-spacing: 5px;
} 

.aboutmebg .col-md-5 {
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  }

  .aboutmebg .col-md-5 h1{
    font: normal normal bold 100px/1.4em poppins-semibold,poppins,sans-serif;
    color: #000000;
    text-align: left;
}

.aboutmebg .col-md-5 h4{
  font: normal normal bold 25px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
  color: #000000;
  margin-bottom: 30px;
}

.atagone{
  border-radius: 38px;
  padding: 8px 15px;
  text-decoration: none;
  color: #fff;
  background-color: #24c5a0;
  margin-right: 20px;
}

.atagone:hover{
  border: 1px #24c5a0 solid;
  border-radius: 38px;
  padding: 8px 15px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.atagtwo{
  border-radius: 38px;
  padding: 8px 15px;
  text-decoration: none;
  color: #000;
  margin-left: 20px;
  border: 1px #24c5a0 solid;
  background-color: transparent;
}

.atagtwo:hover{
  border-radius: 38px;
  padding: 8px 15px;
  text-decoration: none;
  color: #000;
  color: #fff;
  background-color: #24c5a0;
}

.wrap p{
  margin-top: 40px;
  font: normal normal normal 17px/1.4em ;
  color: #000000;
} 

.readmorebtn{
  border-radius: 38px;
  padding: 8px 15px;
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  border: 1px #24c5a0 solid;
  background-color: transparent;
  margin-bottom: 30px;
}

.readmorebtn:hover{
  padding: 8px 15px;
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  background-color: #24c5a0;
  margin-bottom: 30px;
  color: #fff;
}

/* end aboutme */
#section1{
  text-align: center;
  color: #63707e;
  margin-top: 50px;
  font-size: 20px; 
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 3px;

}

hr{
  width: 100%;
  color: #636363;
}

/* start banner */

#text{
    font-size: 25px;
    text-align: center;
    color: #63707e;
    margin-top: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0px;

}

.btn-primary {
  color: #fff;
  background-color:#24c5a0;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
  font-size: 18px;
  border: 0 none;
  line-height: 1.5;
  color: #fff;
  padding: 8px 18px;
  border-radius: 30px;
  cursor: pointer;
  width: 200px;
  float: right;
}

/* start services */

h1{
  color:  #24c5a0;
  text-align: center;
  font-weight: 400px;
  font-size: 25px;
  padding: 10px;
}

h2{
  background-color: #24c5a0;
  text-align: center;
  font-weight: 400px;
  font-size: 25px;
  padding: 25px;
  color: #fff;
  
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color:rgb(245,246,247); 
  margin-bottom: 30px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.card-text{
text-align: center;
padding: 10px;
}


/* .part3 {
  background: #fff;
  padding: 20px;
  margin-top: 40px;
} */
.holder{
  background-color:#24c5a0;
  margin-bottom: 30px;
}
.holder p{
  color: #000;
  letter-spacing: 1px;
  margin-left: 50px;

}

h6{
color: #000;
font-size: 22px;
padding: 40px 20px 30px 20px;
letter-spacing: 3px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: #4555E6;
  position: relative;
  transition: color 0.3s ease;
}

.button {
  box-sizing: border-box;
  margin-top: 20px;
  margin-right: 10px;
  padding: 11px 16px;
  background-color: #19191A;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  margin-bottom: 30px;
  text-decoration: none;
  border-radius: 8px;
}

.button:hover{
  background-color: #fff;
  border: 2px #000 solid;
  border-radius: 8px;
  /* animation: ease-in; */
  color: #000;
}
 .icons{
   text-align: center;
   font-size: 20px;
   margin-bottom: 30px;

 }
/* start portfolio */

.pic{
  width:350px;
  height:297px;
  background: url(assets/respo.png) no-repeat;
}

.pic1{
  width:350px;
  height:297px;
  background: url(assets/mypic.png) no-repeat;
}
.pic2{
  width:350px;
  height:297px;
  background: url(assets/aboutme.jpeg)no-repeat;
}

.pic3{
  width:350px;
  height:297px;
  background: url(assets/banner.png) no-repeat;
}
.pic4{
  width:350px;
  height:297px;
  background: url(assets/respo.png) no-repeat;
}
.pic5{
  width:350px;
  height:297px;
  background: url(assets/WhatsApp_Image_2020-08-20_at_04.33.36-removebg-preview.png) no-repeat;
}
.text{
  width:350px;
  height:297px;
  background:#414043;
  opacity:0;
  border-radius: 10px;

}
.text p{
  text-align: center;
  font-size: 12px;
}
.text a{
  margin-top: 50px;
}
.pic:hover .text{
  opacity:1.0;
  text-align: center;
  color:#fff;
  border-radius: 10px;
  font-size:20px;
  font-weight:700;
  padding:30px;
  transition: 0.5s ease-in;
}

.pic1:hover .text{
  opacity:1.0;
  text-align: center;
  color:#fff;
  border-radius: 10px;
  font-size:20px;
  font-weight:700;
  padding:30px;
  transition: 0.5s ease-in;
}

.pic2:hover .text{
  opacity:1.0;
  text-align: center;
  color:#fff;
  border-radius: 10px;
  font-size:20px;
  font-weight:700;
  padding:30px;
  transition: 0.5s ease-in;
}

.pic3:hover .text{
  opacity:1.0;
  text-align: center;
  color:#fff;
  border-radius: 10px;
  font-size:20px;
  font-weight:700;
  padding:30px;
  transition: 0.5s ease-in;
}
.pic4:hover .text{
  opacity:1.0;
  text-align: center;
  color:#fff;
  border-radius: 10px;
  font-size:20px;
  font-weight:700;
  padding:30px;
  transition: 0.5s ease-in;
}
.pic5:hover .text{
  opacity:1.0;
  text-align: center;
  color:#fff;
  border-radius: 10px;
  font-size:20px;
  font-weight:700;
  padding:30px;
  transition: 0.5s ease-in;
}
/* end portfolio */

footer{
  background-color: #2A3A4D;
  padding: 20px;
  text-align: center;
  color: #fff;
}
/* animation */
/* This changes all the animations globaly */
:root {
  --animate-duration: 2000ms;
  --animate-delay: 0.9s;
}
/* //responsive// */
img {
  max-width: 100%; height: auto;
  }

  html { 
    font-size:100%; 
  }

  @media (min-width: 640px) { body {font-size:;} } 
@media (min-width:960px) { body {font-size:;} } 
@media (min-width:1100px) { body {font-size:} } 

@media (min-device-width:600px) {
  img[data-src-600px] {
      content: attr(data-src-600px, url);
  }
}

@media (min-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
}